[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"

[packages]
requests = "*"
pytest-bdd = "*"
pytest = "*"
selenium = "*"
logger = "*"
pytest-metadata = "*"
pytest-html = "*"
jsonpath = "*"
faker = "*"
psycopg2-binary = "*"
json-diff = "*"
apscheduler = "*"
pytest-md = "*"

[requires]
python_version = "3.8"
