[[source]]
name = "bypi"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.tools.bink.sh/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"

[packages]
requests = "*"
pytest-bdd = "*"
pytest = "*"
selenium = "*"
logger = "*"
pytest-metadata = "*"
pytest-html = "*"
jsonpath = "*"
faker = "*"
psycopg2-binary = "*"
json-diff = "*"
arrow = "*"
shared-config-storage = "*"
pyjwt = "*"
apscheduler = "*"
azure-storage-blob = "*"

[requires]
python_version = "3.8"
