[[source]]
name = "gitlab-libraries"
url = "https://bink-libs:y6nzdKbo9J6MkEmwvB-i@git.bink.com/api/v4/groups/86/-/packages/pypi/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
flake8 = "*"
isort = "*"

[packages]
requests = "*"
pytest-bdd = "*"
pytest = "*"
selenium = "*"
logger = "*"
pytest-metadata = "*"
pytest-html = "==2.1.1"
jsonpath = "*"
faker = "*"
psycopg2-binary = "*"
json-diff = "*"
arrow = "==0.16.0"
pyjwt = "*"
apscheduler = "*"
azure-storage-blob = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
shared-config-storage = "*"
allure-pytest-bdd = "*"
pytest-html-reporter = "*"
pytest-xdist = "*"
deepdiff = "*"
